<html lang="en">

<% include ../partials/head %>

<body>
   <main role="main" class="container">
      <div class="jumbotron">
	  <img src="rabbit.jpg" class="img-responsive mx-auto d-block" style="width:40%;" alt="FaceBunny"/>
        <h1>Honey Bunny</h1>
        <p class="lead">I like carrots and lettuce</p>
       <a class="btn btn-lg btn-primary" href="/home" role="button">Add Rabbit</a>
       <a class="btn btn-lg btn-primary" href="/home" role="button">Send Carrot</a>
      </div>
      <div class="jumbotron">
	  <img src="rabbit.jpg" class="img-responsive mx-auto d-block" style="width:40%;" alt="FaceBunny"/>
        <h1>Bobby</h1>
        <p class="lead">I love my hutch</p>
       <a class="btn btn-lg btn-primary" href="/home" role="button">Add Rabbit</a>
       <a class="btn btn-lg btn-primary" href="/home" role="button">Send Carrot</a>
      </div>
    
    </main>
</body>

<% include ../partials/footer %>

</html>
